@import url('https://fonts.googleapis.com/css2?family=Honk:MORF@15&family=Playwrite+NO:wght@100..400&display=swap');




body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	background: linear-gradient(90deg,
	#CCBC2E 0%,
	#CC2100 25%,
	#CC6EB6 50%,
	#833BCC 75%,
	#3759CC 100%);
	align-items: center;
	gap: 25px;
	font-family: "gg sans Normal", serif;
}

.header {
	display: flex;
	color: white;
	font-family: "Honk", system-ui;
	font-size: 50px;
	font-weight: 400;
	font-style: normal;	
	font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
        background-color: #825DD35D;
	align-self: stretch;
	align-items: center;
	justify-content: center;
	padding: 10px;
	margin: 90px;
	border: solid 3px #1D47D1;
	border-radius: 15px;

}

.media {
	display: flex;
	justify-content: center;
	flex: 1;
	align-items: center;
	gap: 30px;
	flex-wrap: wrap;
}

.media img {
	border-radius: 15px;
	border: solid 3px #1D47D1;
	min-width: 800px;
	flex: 0;
	box-shadow: 10px 5px 5px #070707;

}

.catvideo {
	width: 800px;
	height: 1172px;
	border: 4px solid #000000;
	flex: 1;
	background: linear-gradient(90deg,
	#CCBC2E 0%,
	#CC2100 25%,
	#CC6EB6 50%,
	#833BCC 75%,
	#3759CC 100%);
	padding: 25px;
	border-radius: 25px;
	margin: 15px;

}
